includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 6
    paths:
        - src
    tmpDir: build/phpstan
    ignoreErrors:
        # Optional dependencies (in composer.json suggest)
        - '#class setasign\\Fpdi\\Fpdi#'
        - '#class mikehaertl\\pdftk\\Pdf#'
        - '#has invalid type setasign\\Fpdi\\Fpdi#'
        # tempnam() can return false, which gets appended to the array
        - '#by-ref type of method PdfStudio\\Laravel\\Manipulation\\PdfMerger::resolveSourcePath#'
